.trustScoreBlock_rtl{
   direction: rtl;
   margin-bottom: 30px;
    background-color: #25292C;
    padding: 8px 10px 24px;
}
.trustScoreBlock_ltr{
    direction: ltr;
    margin-bottom: 30px;
     background-color: #25292C;
     padding: 8px 10px 24px;
 }
.blockTitle{
    font-size: 16px;
    font-weight: 400px;
    color: #fff;
    text-transform: capitalize;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;


}
.chart{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 195px;
}



.chart text:last-child{
    font-size: 35px;
    font-weight: 600;
    fill:#fff;
    font-family: 'SF Pro Display Semibold';
}
.chart path{
   
    stroke-width: 12;
}
.title{
    color: #fff;
    margin: 0;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    text-transform: capitalize;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

}
.chartList{
    list-style: none;
    margin: 56px 0 0 0;
    padding: 0;
}
.chartList li{
    color: #fff;
}
.chartList li {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    text-transform: capitalize;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

}
.chartList li{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.critical {
    color: #EA3943 !important;
   
}
.critical span{
    font-size: 14px;
    font-weight: 400;
    color: #EA3943;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 24px;
    height: 24px;
    border-radius: 50%;
   
}
.icon{
    background-color: rgba(234,57,67,0.15);
    border-radius: 50%;
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 13px;
}
.important{
    font-size: 14px;
    font-weight: 400;
    color: #F5A341;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(245,136,65,0.15);
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.information{
    font-size: 14px;
    font-weight: 400;
    color: #888;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(232,234,236,0.15);
    width: 24px;
    height: 24px;
    border-radius: 50%;
}