.backDrop{
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    top:0;
    right:0;
    left:0;
    bottom: 0;
    z-index: 9;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.show{
    opacity: 0.8;
    visibility: visible;
}
.overlay{
    position: absolute;
    top:60%;
    left:50%;
    transform: translate(-50%,-50%);
    padding: 50px 80px 28px;
    background-color: #fff;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}
.show2{
    opacity: 1;
    visibility: visible;
}
.closeBtn_rtl{
    width: 56px !important;
    height: 24px !important;
    background: #E8EAEC !important;
    border: 0 !important;
    outline: none !important;
    font-size: 12px !important;
    font-weight: 500 !important;
    color: #888888 !important;
    position: absolute !important;
    left: 20px !important;
    top: 0px !important;
}
.closeBtn_ltr{
    width: 56px !important;
    height: 24px !important;
    background: #E8EAEC !important;
    border: 0 !important;
    outline: none !important;
    font-size: 12px !important;
    font-weight: 500 !important;
    color: #888888 !important;
    position: absolute !important;
    right: 20px !important;
    top: 0px !important;
}


.overlay circle{
    width: 16px ;
    height: 16px ;
   
    font-size: 15px;
    cx: 6;
    cy: 6;
    r: 6;

}
.overlay circle:active{
    fill: #9F4AE8 ;
}
.overlay span{
    flex-wrap: wrap;
    font-size: 14px;
    font-weight: inherit !important;
    color: #888 !important;
    justify-content: center;
    width: 90px;
    align-items: center;
    text-align: center;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
   
}
.overlay text{
    display: none;
}
.overlay div div div{
    padding: 0;
}
.overlay div p{
    display: none;
}
.title{
    text-align: center;
    margin: 47px 0 15px;
    color: #9F4AE8;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}
.subTitle{
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin: 0 0 40px;
    display: block !important;
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

}
.inputField_rtl{
    width: 100%;
    height: 60px;
    border:1px solid;
    border-color: rgba(136,136,136,0.3);
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 14px;
    color: #888;
    margin-bottom: 24px;
    outline: none;
    direction: rtl;
}
.inputField_rtl::placeholder{
    font-size: 14px;
    color: #888;
}
.inputField_ltr{
    width: 100%;
    height: 60px;
    border:1px solid;
    border-color: rgba(136,136,136,0.3);
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 14px;
    color: #888;
    margin-bottom: 24px;
    outline: none;
    direction: ltr;
}
.inputField_ltr::placeholder{
    font-size: 14px;
    color: #888;
}
.inputs{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.inputBlock_rtl label{
    font-size: 12px;
    font-weight: 500;
    color: #333;
    direction: rtl;
    width: 100%;
}
.inputBlock_ltr label{
    font-size: 12px;
    font-weight: 500;
    color: #333;
    direction: ltr;
    width: 100%;
}
.inputField2_rtl{
    width: 245px;
    height: 48px;
    border:0;
   background-color: rgba(136, 136, 136, 0.1);
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 14px;
    color: #333;
    margin-bottom: 15px;
    outline: none;
    direction: rtl;
}
.inputField2_rtl::placeholder{
    font-size: 14px;
    color: #333;
}
.inputField2_ltr{
    width: 245px;
    height: 48px;
    border:0;
   background-color: rgba(136, 136, 136, 0.1);
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 14px;
    color: #333;
    margin-bottom: 15px;
    outline: none;
    direction: ltr;
}
.inputField2_ltr::placeholder{
    font-size: 14px;
    color: #333;
}
.select_rtl{
    width: 245px;
    height: 48px;
    border:1px solid;
    border-color: rgba(136,136,136,0.3);
    border-radius: 2px;
  direction: rtl;
    display: flex;
    align-items: center;
    padding: 0 20px;
    font-size: 14px;
    color: #888;
    margin-bottom: 24px;
    outline: none;
}
.select_ltr{
    width: 245px;
    height: 48px;
    border:1px solid;
    border-color: rgba(136,136,136,0.3);
    border-radius: 2px;
  direction: ltr;
    display: flex;
    align-items: center;
    padding: 0 20px;
    font-size: 14px;
    color: #888;
    margin-bottom: 24px;
    outline: none;
}
.agree_rtl{
    color: #888;
    font-size: 14px;
    margin-right: 15px;
    direction: rtl;
    margin-top: -5px;
    display: block;
}
.agree_ltr{
    color: #888;
    font-size: 14px;
    margin-left: 10px;
    direction: ltr;
}
.agree_rtl a{
    color: #9F4AE8;
    text-decoration: none;
}
.agree_ltr a{
    color: #9F4AE8;
    text-decoration: none;
}
.checkBox_rtl{
    direction: rtl;
    position: absolute;
    right: 75px;
}
.checkBox_ltr{
    direction: ltr;
}
.overlay button{
    width: 180px;
    height: 42px;
    background-color: #25292C;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 14px
    ;
    border-radius: 0;
    margin-top: 26px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
.overlay button:hover{
    background-color: #25292C;
}
.back{
    background-color: transparent;
}
.uploadBtn{
    width: 150px !important;
    height: 150px !important;
    border-radius: 100% !important;
    background-color: transparent !important;
    font-size: 12px !important;
    color: #888 !important;
    display: block !important;
    flex-wrap: wrap;
    border:1px dashed !important;
    border-color: rgba(136,136,136,0.4) !important;
   position: relative;
   
  
    
}
.uploadBtn:after {
    content: '';
    width: 170px;
    height: 170px;
    border: 6px solid rgba(159,74,232,0.15);
    border-radius: 50%;
    display: block;
  
    position: absolute;
    top: -11px;
    right: -11px;
 
  }
.uploadIcon{
    width: 100%;
    font-size: 20px;
    color: rgba(136,136,136,0.4);
    margin-bottom: 8px;
    
}
.upload{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.upload input{
    width: 100%;
}
.uploadText{
    font-size: 12px;
    color: #888;
    width: 314px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    text-align: center;
   margin: 16px auto 126px;
}
.comment_rtl{
    width: 100%;
    height: 240px;
    border:1px solid ;
    border-color: rgba(136,136,136,0.3);
    border-radius: 2px;
    font-size: 14px;
    color: #888;
    padding: 20px;
    outline: none;
    direction: rtl;
}
.comment_ltr{
    width: 100%;
    height: 240px;
    border:1px solid ;
    border-color: rgba(136,136,136,0.3);
    border-radius: 2px;
    font-size: 14px;
    color: #888;
    padding: 20px;
    outline: none;
    direction: ltr;
}
.note_rtl{
    margin: 0;
    display: block !important;
    color: #888;
    font-size: 12px;
    margin-bottom: 80px;
    direction: rtl;
}
.note_ltr{
    margin: 0;
    display: block !important;
    color: #888;
    font-size: 12px;
    margin-bottom: 80px;
    direction: ltr;
}
.socialInput{
    height: 48px;
    font-size: 14px;
    color: #888;
    outline: none;
    border-radius: 2px;
}
.socialInput:focus{
   box-shadow: none;
}
.socialInput::placeholder{
    font-size: 14px;
    color: #888;
}
.socialIcon{
    height: 48px;
    width: 50px;
    margin: 0;
    color: #fff;
    border-radius: 2px;
}
.fb{
    border:1px solid #5380DE;
}
.fbIcon{
    background-color: #5380DE;
}
.you{
    border:1px solid #E83939;
}
.youIcon{
    background-color: #E83939;
}

.tweet{
    border:1px solid #2AA3EF;
}
.tweetIcon{
    background-color: #2AA3EF;
}

.tele{
    border:1px solid #45AEE4;
}
.teleIcon{
    background-color: #45AEE4;
}
.check{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
    flex-wrap: wrap;
}
.checkIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 68px;
    height: 68px;
    border-radius: 50%;
    background-color: rgba(159,74,232,0.2);
    border:1px solid #9F4AE8;
    color: #9F4AE8;
    padding: 15px;
    margin-bottom: 35px;
}
.review{
    font-size: 16px;
    color: #333;
    text-align: center;
    margin: 18px 0 67px;
    display: block !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

}
.check .subTitle{
    margin-bottom: 0;
}
.return{
    background-color: transparent !important;
    border: 0;
    outline: none;
    display: flex !important;
    justify-content: center !important;
    color: #9F4AE8 !important;
    font-size: 14px !important;
    width: 100% !important;
}
.stepper_rtl{
    direction: rtl;
}
.stepper_ltr{
    direction: ltr;
}
