.navbar_rtl{
    direction:rtl !important;
 
}
.linkitem:active{
    font-size: 20px;
}
.linkitem{
    cursor: pointer;
    transition: all 1s !important;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

    
}
.linkitem:hover{
    /* color: rgb(255, 0, 157) !important; */
    color: #9F4AE8 !important;
    /* transform:scale(1.2); */
   
}
.linkitemopcity{
    transition: all 1s !important;
    font-size: 14px;
    font-family: 'SF Pro Display Medium';
}
.linkitemopcity:hover{
    opacity: 0.6 !important;
    
}
.navbar-collapse{
    transition: all 2s;
}
.navbar-nav{
    margin-left: 46px;
}



@media only screen and (max-width: 991px){
   nav{
        padding: 0 !important;
    }
    .navbar-nav{
        margin-left: 0;
    }

    .listGroup{
        margin-top: -40px;
       
    }
}
