.container_token{
    display: flex;
    flex-direction: row;
    justify-items: center;
}
.icon_token_letter {
    width: 24px;
    height: 24px;
    margin-right: 5px;
    background-color: rgba(159, 74, 232, 0.15);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.icon_token_text{
    font-size: 12px;
    padding: 0;
    margin: 0;
}