p {
    margin: 0;
    padding: 0;
  }
  
  .locked_tokens_network, .locked_tokens_tokens {
    display: flex;
    align-items: center;
    justify-content: start;
  }
  
  .locked_tokens_network .logo {
    width: 28px;
    height: 28px;
    margin-right: 10px;
  }
  
  .locked_tokens_network {
  
    font-size: 14px;
    font-family: "SF Pro Display Medium";
    color: #333333;
  }
  
  .locked_tokens_tokens .rate {
    margin-left: 10px;
    font-size: 10px;
    padding: 4px 8px;
    border-radius: 2px;
    font-family: "SF Pro Display Semibold";
    background-color: rgba(34, 104, 225, 0.15);
    font-family: "SF Pro Display Medium";
    color: #2268E1;
  }