.groupcard_rtl,.groupcard_ltr {
    border: 1px solid #E3E3E3;
}
.groupcard_rtl,.title_rtl{
    direction: rtl;
}
.groupcard_ltr, .title_ltr{
    direction: ltr;
}
.title_rtl ,.title_ltr{
    margin-left: 15px;
}
.listitemcontainer {
    border-color: red;
    font-size: 14px;
    font-family: "SF Pro Display Medium";
    height: 40px;

}



/* 345*128 */

@media (max-width: 768px) {
    .listitemcontainer {
        margin-top: 10px;
    }
}